/*------------------------------------------------------------------
[Navbar]
Project:	Protype
-------------------------------------------------------------------*/

/*Nav*/
.nav {
	.nav-link {
		&.link-icon-left {
			i,span {
				padding-right:10px;
				font-size:18px;
			}	
		}
		&.link-icon-top {
			i,span {
				display:block;
				text-align:center;
				font-size:21px;
			}	
		}
	}
	&.nav-tabs {
		border-bottom:none;
		.nav-link {
			border-top:none;
			border-left:none;
			border-right:none;
			border-radius:0;
			border-bottom:3px solid transparent;
			color:$h-light-black-2;
			@include transition(.2s ease-in-out);
			&.active {
				color:$h_blue;
				background:transparent;
				border-color:$h_blue;
				&:hover,&:focus {
					border-color:$h_blue;
				}
			}
			&:hover,&:focus {
				color:$h_blue;	
				border-color:transparent;
				text-decoration: none;
			}
			&.disabled {
				color:$light_30;
			}
		}
		.nav-item.show .nav-link {
			color:$dark;
			border-color:$sky;
			background:transparent;
		}
		.dropdown-menu {
			margin-top: 1px;
		}
		&.nav-tabs-sky,
		&.nav-tabs-primary {
			.nav-link {
				&.active {
					border-color:$sky;
					&:hover,&:focus {
						border-color:$sky;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$sky;
			}
		}
		&.nav-tabs-cyan,
		&.nav-tabs-info {
			.nav-link {
				&.active {
					border-color:$cyan;
					&:hover,&:focus {
						border-color:$cyan;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$cyan;
			}
		}
		&.nav-tabs-green,
		&.nav-tabs-success {
			.nav-link {
				&.active {
					border-color:$green;
					&:hover,&:focus {
						border-color:$green;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$green;
			}
		}
		&.nav-tabs-yellow,
		&.nav-tabs-warning {
			.nav-link {
				&.active {
					border-color:$yellow;
					&:hover,&:focus {
						border-color:$yellow;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$yellow;
			}
		}
		&.nav-tabs-red,
		&.nav-tabs-danger {
			.nav-link {
				&.active {
					border-color:$red;
					&:hover,&:focus {
						border-color:$red;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$red;
			}
		}
		&.nav-tabs-blue {
			.nav-link {
				&.active {
					border-color:$blue;
					&:hover,&:focus {
						border-color:$blue;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$blue;
			}
		}
		&.nav-tabs-pink {
			.nav-link {
				&.active {
					border-color:$pink;
					&:hover,&:focus {
						border-color:$pink;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$pink;
			}
		}
		&.nav-tabs-purple {
			.nav-link {
				&.active {
					border-color:$purple;
					&:hover,&:focus {
						border-color:$purple;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$purple;
			}
		}
		&.nav-tabs-violet {
			.nav-link {
				&.active {
					border-color:$violet;
					&:hover,&:focus {
						border-color:$violet;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$violet;
			}
		}
		&.nav-tabs-indigo {
			.nav-link {
				&.active {
					border-color:$indigo;
					&:hover,&:focus {
						border-color:$indigo;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$indigo;
			}
		}
		&.nav-tabs-blue {
			.nav-link {
				&.active {
					border-color:$blue;
					&:hover,&:focus {
						border-color:$blue;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$blue;
			}
		}
		&.nav-tabs-teal {
			.nav-link {
				&.active {
					border-color:$teal;
					&:hover,&:focus {
						border-color:$teal;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$teal;
			}
		}
		&.nav-tabs-neon {
			.nav-link {
				&.active {
					border-color:$neon;
					&:hover,&:focus {
						border-color:$neon;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$neon;
			}
		}
		&.nav-tabs-lime {
			.nav-link {
				&.active {
					border-color:$lime;
					&:hover,&:focus {
						border-color:$lime;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$lime;
			}
		}
		&.nav-tabs-sun {
			.nav-link {
				&.active {
					border-color:$sun;
					&:hover,&:focus {
						border-color:$sun;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$sun;
			}
		}
		&.nav-tabs-orange {
			.nav-link {
				&.active {
					border-color:$orange;
					&:hover,&:focus {
						border-color:$orange;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$orange;
			}
		}
		&.nav-tabs-pumpkin {
			.nav-link {
				&.active {
					border-color:$pumpkin;
					&:hover,&:focus {
						border-color:$pumpkin;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$pumpkin;
			}
		}
		&.nav-tabs-brown {
			.nav-link {
				&.active {
					border-color:$brown;
					&:hover,&:focus {
						border-color:$brown;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$brown;
			}
		}
		&.nav-tabs-gold {
			.nav-link {
				&.active {
					border-color:$gold;
					&:hover,&:focus {
						border-color:$gold;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$gold;
			}
		}
		&.nav-tabs-smoke {
			.nav-link {
				&.active {
					border-color:$smoke;
					&:hover,&:focus {
						border-color:$smoke;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$smoke;
			}
		}
		&.nav-tabs-grey,
		&.nav-tabs-secondary {
			.nav-link {
				&.active {
					border-color:$grey;
					&:hover,&:focus {
						border-color:$grey;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$grey;
			}
		}
		&.nav-tabs-dark {
			.nav-link {
				&.active {
					border-color:$dark;
					&:hover,&:focus {
						border-color:$dark;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$dark;
			}
		}
		&.nav-tabs-light {
			.nav-link {
				&.active {
					border-color:$light_10;
					&:hover,&:focus {
						border-color:$light_10;
					}
				}
			}
			.nav-item.show .nav-link {
				border-color:$light_10;
			}
		}
	}
	&.nav-pills {
		.nav-link {
			@include transition(.2s ease-in-out);
			&.active {
				color:$white;
				background-color:$sky;
				&:hover,&:focus {
					color:$white;	
				}
			}
			&:hover,&:focus {
				color:$dark;	
			}
			&.disabled {
				color:$light_30;
			}
		}
		.nav-item.show .nav-link {
			color:$white;
			background-color:$sky;
		}
		&.nav-pills-square {
			.nav-link {
				border-radius:0;
			}	
		}
		&.nav-pills-rounded {
			.nav-link {
				border-radius:50px;
			}	
		}
		&.nav-pills-sky,
		&.nav-pills-primary {
			.nav-link {
				&.active {
					background-color:$sky;
				}
			}
			.nav-item.show .nav-link {
				background-color:$sky;
			}
		}
		&.nav-pills-cyan,
		&.nav-pills-info {
			.nav-link {
				&.active {
					background-color:$cyan;
				}
			}
			.nav-item.show .nav-link {
				background-color:$cyan;
			}
		}
		&.nav-pills-green,
		&.nav-pills-success {
			.nav-link {
				&.active {
					background-color:$green;
				}
			}
			.nav-item.show .nav-link {
				background-color:$green;
			}
		}
		&.nav-pills-yellow,
		&.nav-pills-warning {
			.nav-link {
				&.active {
					background-color:$yellow;
				}
			}
			.nav-item.show .nav-link {
				background-color:$yellow;
			}
		}
		&.nav-pills-red,
		&.nav-pills-danger {
			.nav-link {
				&.active {
					background-color:$red;
				}
			}
			.nav-item.show .nav-link {
				background-color:$red;
			}
		}
		&.nav-pills-blue {
			.nav-link {
				&.active {
					background-color:$blue;
				}
			}
			.nav-item.show .nav-link {
				background-color:$blue;
			}
		}
		&.nav-pills-pink {
			.nav-link {
				&.active {
					background-color:$pink;
				}
			}
			.nav-item.show .nav-link {
				background-color:$pink;
			}
		}
		&.nav-pills-purple {
			.nav-link {
				&.active {
					background-color:$purple;
				}
			}
			.nav-item.show .nav-link {
				background-color:$purple;
			}
		}
		&.nav-pills-violet {
			.nav-link {
				&.active {
					background-color:$violet;
				}
			}
			.nav-item.show .nav-link {
				background-color:$violet;
			}
		}
		&.nav-pills-indigo {
			.nav-link {
				&.active {
					background-color:$indigo;
				}
			}
			.nav-item.show .nav-link {
				background-color:$indigo;
			}
		}
		&.nav-pills-blue {
			.nav-link {
				&.active {
					background-color:$blue;
				}
			}
			.nav-item.show .nav-link {
				background-color:$blue;
			}
		}
		&.nav-pills-teal {
			.nav-link {
				&.active {
					background-color:$teal;
				}
			}
			.nav-item.show .nav-link {
				background-color:$teal;
			}
		}
		&.nav-pills-neon {
			.nav-link {
				&.active {
					background-color:$neon;
				}
			}
			.nav-item.show .nav-link {
				background-color:$neon;
			}
		}
		&.nav-pills-lime {
			.nav-link {
				&.active {
					background-color:$lime;
				}
			}
			.nav-item.show .nav-link {
				background-color:$lime;
			}
		}
		&.nav-pills-sun {
			.nav-link {
				&.active {
					color:$dark;
					background-color:$sun;
				}
			}
			.nav-item.show .nav-link {
				color:$dark;
				background-color:$sun;
			}
		}
		&.nav-pills-orange {
			.nav-link {
				&.active {
					background-color:$orange;
				}
			}
			.nav-item.show .nav-link {
				background-color:$orange;
			}
		}
		&.nav-pills-pumpkin {
			.nav-link {
				&.active {
					background-color:$pumpkin;
				}
			}
			.nav-item.show .nav-link {
				background-color:$pumpkin;
			}
		}
		&.nav-pills-brown {
			.nav-link {
				&.active {
					background-color:$brown;
				}
			}
			.nav-item.show .nav-link {
				background-color:$brown;
			}
		}
		&.nav-pills-gold {
			.nav-link {
				&.active {
					background-color:$gold;
				}
			}
			.nav-item.show .nav-link {
				background-color:$gold;
			}
		}
		&.nav-pills-smoke {
			.nav-link {
				&.active {
					background-color:$smoke;
				}
			}
			.nav-item.show .nav-link {
				background-color:$smoke;
			}
		}
		&.nav-pills-grey,
		&.nav-pills-secondary {
			.nav-link {
				&.active {
					background-color:$grey;
				}
			}
			.nav-item.show .nav-link {
				background-color:$grey;
			}
		}
		&.nav-pills-dark {
			.nav-link {
				&.active {
					background-color:$dark;
				}
			}
			.nav-item.show .nav-link {
				background-color:$dark;
			}
		}
		&.nav-pills-light {
			.nav-link {
				&.active {
					color:$dark;
					background-color:$light_10;
				}
			}
			.nav-item.show .nav-link {
				color:$dark;
				background-color:$light_10;
			}
		}

	}
	&.nav-dark {
		.nav-link {
			@include color-opacity($white,.5);
			&.active {
				color:$white;
				&:hover,&:focus {
					color:$white;
				}
			}
			&:hover,&:focus {
				@include color-opacity($white,.7);
			}
			&.disabled {
				@include color-opacity($white,.3);
			}
		}	
		.nav-item.show .nav-link {
			color:$white;
		}
		&.nav-tabs {
			.nav-link {
				&.active {
					color:$white;
					&:hover,&:focus {
						color:$white;
					}
				}
				&:hover,&:focus {
					@include color-opacity($white,.7);
				}
				&.disabled {
					@include color-opacity($white,.3);
				}
			}
			.nav-item.show .nav-link {
				color:$white;
			}
		}
		&.nav-pills {
			.nav-link {
				&.active {
					color:$white;
				}
				&.disabled {
					@include color-opacity($white,.3);
				}
			}
			.nav-item.show .nav-link {
				color:$white;
			}
		}
	}
	&.nav-light {
		.nav-link {
			@include color-opacity($dark,.5);
			&.active {
				color:$dark;
				&:hover,&:focus {
					color:$dark;
				}
			}
			&:hover,&:focus {
				@include color-opacity($dark,.7);
			}
			&.disabled {
				@include color-opacity($dark,.3);
			}
		}	
		.nav-item.show .nav-link {
			color:$dark;
		}
		&.nav-tabs {
			.nav-link {
				&.active {
					color:$dark;
					&:hover,&:focus {
						color:$dark;
					}
				}
				&:hover,&:focus {
					@include color-opacity($dark,.7);
				}
				&.disabled {
					@include color-opacity($dark,.3);
				}
			}
			.nav-item.show .nav-link {
				color:$dark;
			}
		}
		&.nav-pills {
			.nav-link {
				&.active {
					color:$white;
				}
				&.disabled {
					@include color-opacity($dark,.3);
				}
			}
			.nav-item.show .nav-link {
				color:$white;
			}
		}
	}
	&.nav-dark,
	&.nav-light {
		&.nav-pills {
			&.nav-pills-sun,
			&.nav-pills-light {
				.nav-link {
					&.active {
						color:$dark;
					}
				}
				.nav-item.show .nav-link {
					color:$dark;
				}
			}
		}
	}
	&.nav-sm {
		.nav-link {
			padding: .25rem 0.75rem;
			font-size: 14px;
		}
	}
}
/*Navbar*/
.navbar-light {
	.navbar-nav {
		.nav-link {
			@include color-opacity($dark,.5);
			&:hover,&:focus {
				@include color-opacity($dark,.7);
			}
			&.active,&.show {
				color:$dark;
			}
			&.disabled {
				@include color-opacity($dark,.3);
			}
		}
		.active,.show {
			> .nav-link {
				color:$dark;
			}
		}
	}
}
@media (max-width: 992px) {
	.navbar-demo {
		.input-group {
			width:auto;
			margin-bottom: .5rem;
		}
		.navbar-nav {
			.nav-link {
				padding-right: 1rem;
			}
			.dropdown-menu {
				position: absolute;
			}
		}
	}
}
.navbar-dark {
	.navbar-nav {
		.nav-link {
			@include color-opacity($white,.5);
			&:hover,&:focus {
				@include color-opacity($white,.7);
			}
			&.active,&.show {
				color:$white;
			}
			&.disabled {
				@include color-opacity($white,.3);
			}
		}
		.active,.show {
			> .nav-link {
				color:$white;
			}
		}
	}
}



/*Top Nav*/
.hbku-wrapper {
	.hbku-navbar {
		padding-top:0;
		padding-bottom:0;
		box-shadow: 0 0 28px rgba(0, 0, 0, 0.07);
		.feather-icon {
			display:block;
			>svg {
				width:20px;
				height:20px;
				transform: translateY(50%);
				-moz-transform: translateY(50%);
				-webkit-transform: translateY(50%);
				-o-transform: translateY(50%);
				-ms-transform: translateY(50%);
			}	
		}
		a {
			&.navbar-toggle-btn {
				line-height: 57px;
				margin-right:18px;
				display:inline-block;
				cursor: pointer;
			}
			&.navbar-brand {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				font-size: 22px;
				font-weight: 500;
				text-transform: capitalize;
				padding-top:0.8rem;
				padding-bottom:0.8rem;
			}
			&.nav-link-hover {
				position:relative;
				text-align:center;
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					left: -8px;
					right: -8px;
					top:0;
					margin:auto;
					z-index: -1;
					height: 37px;
					width: 37px;
					opacity: 0;
					border-radius: 50%;
					-webkit-transform: scale(1.3);
					-moz-transform: scale(1.3);
					-ms-transform: scale(1.3);
					-o-transform: scale(1.3);
					transform: scale(1.3);
					
					@include transition(.3s ease);
				}
				&:hover {
					&:after {
						opacity: 1;
						-webkit-transform: scale(1);
						-moz-transform: scale(1);
						-ms-transform: scale(1);
						-o-transform: scale(1);
						transform: scale(1);
					}
				}
			}
		}
		.navbar-nav {
			-ms-flex-direction: row;
			flex-direction: row;	
			margin-left: auto;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			.nav-item {
				.nav-link {
					line-height: 57px;
					padding: 0 12px;
					display: inline-block;
					cursor: pointer;
				}
				&:last-child {
					.nav-link {
						padding-right:0;
					}
				}
				&.dropdown {
					&.dropdown-authentication {
						.nav-link {
							.media {
								-webkit-box-align: center;
								-ms-flex-align: center;
								align-items: center;
								.media-img-wrap {
									position:relative;
									display: -webkit-box;
									display: -ms-flexbox;
									display: flex;
									-webkit-box-align: center;
									-ms-flex-align: center;
									align-items: center;
									margin-right:10px;
									.avatar {
										display: -webkit-box;
										display: -ms-flexbox;
										display: flex;
										height:35px;
										width:35px;
									}
									.badge-indicator {
										bottom: 2px;
										height: 7px;
										right: 0;
										position: absolute;
										width: 7px;
									}
								}
								.media-body {
									display: -webkit-box;
									display: -ms-flexbox;
									display: flex;
									>span {
										font-size:14px;
										text-transform:capitalize;
										display: -webkit-box;
										display: -ms-flexbox;
										display: flex;
										-webkit-box-align: center;
										-ms-flex-align: center;
										align-items: center;
										>i {
											padding-left:10px;
										}
									}
								}
							}
						}
					}
					&.dropdown-notifications {
						.nav-link {
							position:relative;
							.badge-wrap {
									position: absolute;
									top: 14px;
									right: 10px;
									line-height:0;
								.badge {
									position:relative;
								}
								.pulse {
									animation: pulse 2s infinite;
								}
								@-webkit-keyframes pulse {
									0% {
										box-shadow: 0 0 0 0 rgba(0,172,240, 0.8);
									}
									70% {
										box-shadow: 0 0 0 10px rgba(0,172,240, 0);
									}
									100% {
										box-shadow: 0 0 0 0 rgba(0,172,240, 0);
									}
								}
								@keyframes pulse {
									0% {
										box-shadow: 0 0 0 0 rgba(0,172,240, 0.8);
									}
									70% {
										box-shadow: 0 0 0 10px rgba(0,172,240, 0);
									}
									100% {
										box-shadow: 0 0 0 0 rgba(0,172,240, 0);
									}
								}
							}

						}
						.dropdown-menu {
							min-width:350px;
							padding-bottom:0;
							.dropdown-divider {
								margin: 0;
							}
							.dropdown-header {
								border-bottom:1px solid $light_10;
								padding-bottom:1rem;
								display: -webkit-box;
								display: -ms-flexbox;
								display: flex;
								>a {
									margin-left:auto;
									font-weight: normal;
								}
								
							}
							.dropdown-item {
								white-space:inherit;
								padding: .75rem 1.25rem;
								.media {
									.media-img-wrap {
										margin-right:15px;
									}
									.media-body {
										>div {
											display: -webkit-box;
											display: -ms-flexbox;
											display: flex;
											justify-content: space-between;
											-webkit-justify-content: space-between;
											-ms-flex-pack: space-between;
											.notifications-text {
												color: $smoke;
												font-size: 14px;
												max-width: 75%;
												-ms-flex: 0 0 75%;
												flex: 0 0 75%;
											}
											.notifications-time {
												color: $smoke;
												font-size: 12px;
												margin-top: 3px;
											}
										}
									}
								}
								&.read-notifications {
									background:$light;
								}
							}
						}
					}
				}
			}
		}
		&.navbar-light {
			background:$white;
			.navbar-brand {
				color: $dark;
			}
			a {
				&.navbar-toggle-btn {
					color:$h_dark_blue_1;

					.feather-icon{
						// padding-left: 3px;
					}
				}
				&.nav-link-hover {
					&:after {
						background: rgba(103, 121, 138, 0.2);
					}
				}
			}
			.navbar-nav {
				&.hbku-navbar-content {
					.nav-item {
						.nav-link {
							@include color-opacity($dark,0.7);
							&:hover,&:focus {
								color:$dark;
							}
						}
						&.dropdown {
							&.dropdown-authentication {
								.nav-link .media .media-body > span {
									>i {
										@include color-opacity($dark,0.4);
									}
								}
							}
						}
					}
				}
			}
		}
		&.navbar-dark {
			background:$dark;
			a {
				&.navbar-toggle-btn {
					color:$white;
				}
				&.nav-link-hover {
					&:after {
						@include background-opacity($white,0.1);
					}
				}
			}
			.navbar-nav {
				&.hbku-navbar-content {
					.nav-item {
						.nav-link {
							@include color-opacity($white,0.7);
							&:hover,&:focus {
								color:$white;
							}
						}
						&.dropdown {
							&.dropdown-authentication {
								.nav-link .media .media-body > span {
									>i {
										@include color-opacity($white,0.4);
									}
								}
							}
						}
					}
				}
			}
		}
		&.hbku-navbar-alt {
			.navbar-nav { 
				margin-left:0;
			}
			.navbar-search-alt {
				margin-left:auto;
				.input-group {
					.input-group-prepend {
						border: none;
						position: absolute;
						left: 0;
						z-index: 1;
						height: 100%;
						pointer-events: none;
						.input-group-text{
							background: transparent;
							border: none;
							color:$white;
						}
					}
					>input {
						border-radius:50px;
						border:none;
						padding-left: 30px;
						padding-left: 40px;
					}
				}
			}
			.navbar-toggler {
				padding: 0;
				font-size: inherit;
				border:none;
			}
			&.navbar-light { 
				.navbar-search-alt {
					.input-group {
						.input-group-prepend {
							.input-group-text {
								@include color-opacity($dark,0.7);
							}
						}
						>input {
							@include background-opacity($dark,0.05);
							color:$dark;
							&::-webkit-input-placeholder {
								@include color-opacity($dark,0.4);
							}
							&:-moz-placeholder {
								@include color-opacity($dark,0.4);
							}
							&::-moz-placeholder {
								@include color-opacity($dark,0.4);
							}
							&:-ms-input-placeholder {
								@include color-opacity($dark,0.4);
							}
						}
					}
				}
			}
			&.navbar-dark { 
				.navbar-search-alt {
					.input-group {
						.input-group-prepend {
							.input-group-text {
								@include color-opacity($white,0.7);
							}
						}
						>input {
							@include background-opacity($white,0.1);
							color:$white;
							&::-webkit-input-placeholder {
								@include color-opacity($white,0.4);
							}
							&:-moz-placeholder {
								@include color-opacity($white,0.4);
							}
							&::-moz-placeholder {
								@include color-opacity($white,0.4);
							}
							&:-ms-input-placeholder {
								@include color-opacity($white,0.4);
							}
						}
					}
				}
			}
		}
	}
	.navbar-search {
		position: absolute;
		top: 96px;
		left: 240px;
		right: 0px;
		z-index:9;
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		transition: all 0.4s ease;
		input {
			height:50px;
			padding-left:44px;
			background:$sun_light_4;
			border:none;
			border-radius:0;
			box-sizing: border-box;
			&:focus {
				background:$sun_light_4;
				border:none;
				box-shadow: none;
			}
			&:disabled {
				background-color: $sun_light_1;
			}
			&[readonly] {
				background-color: $sun_dark_1;
			}
		}
		.feather-icon {
			display:block;
			>svg {
				height:18px;
				width:18px;
			}
		}
		.navbar-search-icon {
			position: absolute;
			left: 15px;
			top: 50%;
			color:$light_50;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		.navbar-search-close {
			position: absolute;
			right: 15px;
			top: 50%;
			color:$dark;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
	&.hbku-nav-toggle {
		.navbar-search {
			left:51px;
		}
	}
	&.navbar-search-toggle {
		.navbar-search {
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}
		.hbku-pg-wrapper { 
			padding-top:107px;
		}
	}
	&.scrollable-nav {
		.hbku-navbar {
			position:absolute;
		}
	}
}	
@media (max-width: 992px) {
	.hbku-wrapper {
		a {
			&.nav-link-hover {
				position:relative;
				text-align:center;
				&:after {
					display:none;
				}
			}
		}
		.hbku-navbar {
			a.navbar-toggle-btn {
				margin-right:8px;
			}
			.navbar-brand {
				margin-right:0;
			}
			.navbar-nav {
				.dropdown-menu {
					position: absolute;
				}
				.nav-item {
					.nav-link {
						padding-left:7px;
						padding-right:7px;
					}
					&.dropdown.dropdown-authentication {
						.nav-link .media {
							.media-img-wrap {
								margin-right:0;
							}
							.media-body {
								display:none;
							}
						}
					}
				}
			}
			&.hbku-navbar-alt {
				justify-content: flex-start;
				-webkit-justify-content: flex-start;
				-ms-flex-pack: flex-start;
				> .navbar-nav { 
					margin-left:auto;
				}
				.navbar-collapse {
					position: absolute;
					width: 100%;
					top: 57px;
					left: 0;
					> .navbar-nav { 
						flex-direction: column;
						align-items: flex-start;
						padding: 0 1rem;
						.nav-item {
							width:100%;
							.nav-link {
								line-height:46px;
								border-bottom:1px solid;
							}
							.dropdown-menu {
								position:static;
								border: none;
								background:transparent;
								a.dropdown-item:not(.active) {
									&:hover,&:focus {
										background: transparent;
									}
								}
							}
						}
					}
				}
				.navbar-search-alt {
					margin: 1.6rem 1rem;
				}
				&.navbar-light {
					.navbar-collapse {
						background: $light_10;
						> .navbar-nav { 
							.nav-item {
								.nav-link {
									@include border-opacity($dark,.1);
								}
								.dropdown-menu {
									a.dropdown-item {
										@include color-opacity($dark,.5);
										@include border-opacity($dark,.3);
										&:hover,&:focus {
											@include color-opacity($dark,.7);
										}
										&.active,&.show {
											color:$dark;
										}
									}
								}
							}
						}
					}
				}
				&.navbar-dark {
					.navbar-collapse {
						background: $dark_20;
						> .navbar-nav { 
							.nav-item {
								.nav-link {
									@include border-opacity($white,.1);
								}
								.dropdown-menu {
									a.dropdown-item {
										@include color-opacity($white,.5);
										&:hover,&:focus {
											@include color-opacity($white,.7);
										}
										&.active,&.show {
											color:$white;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.navbar-search {
			left: 0px;
		}
		&.hbku-nav-toggle {
			.navbar-search {
				left:0;
			}
		}
	}
}	
@media (max-width: 414px) {
	.hbku-wrapper{
		.navbar-brand{
			img{
				max-width: 110px;
			}
		}
		.navbar-search{
			top:80px;
		}
	}
	
	.hbku-wrapper .hbku-navbar .navbar-nav .nav-item{
		&.dropdown.dropdown-notifications {
			position: static;
			.dropdown-menu {
				/*left:0;*/
				right:0;
				min-width:285px;
			}
		}
		.nav-link {
			padding-left:6px;
			padding-right:6px;
		}
		
	}
}

/*Vertical Navigation*/
.hbku-wrapper.hbku-vertical-nav {
	.hbku-pg-wrapper {
		margin-left: 240px;
		left:0;
		@include transition(all 0.4s ease);
	}
	.hbku-nav {
		position: fixed;
		top: 90px;
		left: 0;
		width: 240px;
		margin-left: 0;
		bottom: 0;
		z-index:100;
		border: none;
		box-shadow: 0 0 28px rgba(0, 0, 0, 0.07);
		@include transition(all 0.4s ease);
		.nav-header {
			padding: .5rem 1.15rem;
			width:240px;
			font-size: 11px;
			text-transform:uppercase;
			font-weight:700;
			>span:last-child  {
				display:none;
			}
		}
		.nav-separator {
			margin:15px 0;
		}
		.navbar-nav-wrap {
			padding-top:0.75rem;
			padding-bottom:0.75rem;
		}
		.hbku-nav-close {
			padding:1rem;
			display:none;
			position: absolute;
			width: 100%;
			z-index:1;
			background: inherit;
			box-sizing: border-box;
			.feather-icon {
				display:block;
				>svg {
					height:20px;
					width:20px;
					
				}
			}
			
		}
		.navbar-nav {
			li {
				width:240px;
			}
			.nav-item {
				.nav-link-text {
					display:inline-block;
				}
				.nav-link {
					position:relative;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					padding:.5rem 1rem;
					>i {
						font-size: 16px;
						margin-right: 15px;
						line-height: 25px;
					}
					>.feather-icon {
						min-width:32px;
						line-height: 25px;
						>svg {
							height:18px;
							width:18px;
						}
					}
					&[data-toggle="collapse"] {
						&::after {
							content: '';
							display: inline-block;
							width: 0;
							height: 0;
							margin-left: 2px;
							vertical-align: middle;
							border-top: 6px dashed;
							border-top: 6px solid \9;
							border-right: 6px solid transparent;
							border-left: 6px solid transparent;

							    -webkit-transform: rotate(0deg);
								-moz-transform: rotate(0deg);
								-ms-transform: rotate(0deg);
								-o-transform: rotate(0deg);
								transform: rotate(0deg);
								-webkit-transition: all 0.4s ease;
								-moz-transition: all 0.4s ease;
								transition: all 0.4s ease;
						}
						&[aria-expanded="true"] {
							&::after {
								-webkit-transform: rotate(-180deg);
								-moz-transform: rotate(-180deg);
								-ms-transform: rotate(-180deg);
								-o-transform: rotate(-180deg);
								transform: rotate(-180deg);
							}
						}
					}
					&.link-with-badge {
						&:after {
							display:none;
						}
						.badge {
							margin-left:auto;
						}
					}
				}
				ul.collapse-level-1 {
					.nav-item {
						.nav-link {
							padding:0.35rem 1rem 0.35rem 3rem;  
							font-size:14px;
							&[data-toggle="collapse"] {
								&::after {
									font-size: 14px;
								}
							}
						}
						ul.collapse-level-2 {
							.nav-item {
								.nav-link {
									padding:0.35rem 1rem 0.35rem 4rem;  
									&[data-toggle="collapse"] {
										&::after {
											font-size: 14px;
										}
									}
								}
							}
						}
					}
				}
			}	
		}
		&.hbku-nav-light {
			background:$white;
			.nav-header {
				@include color-opacity($dark,0.4);
			}
			.nav-separator {
				@include border-opacity($dark,0.05);
			}
			.navbar-nav {
				.nav-item {
					.nav-link {
						@include color-opacity($dark,0.6);
						&:hover,&:focus {
							@include color-opacity($dark,0.8);
						}
					}
					&.active {
						>.nav-link {
							color:$dark;
						}
					}
				}
			}
			.hbku-nav-close {
				color:$dark;
			}
		}
		&.hbku-nav-dark {
			background:$dark;
			.nav-header {
				@include color-opacity($white,0.4);
			}
			.nav-separator {
				@include border-opacity($white,0.05);
			}
			.navbar-nav {
				.nav-item {
					.nav-link {
						@include color-opacity($white,0.6);
						&:hover,&:focus {
							@include color-opacity($white,0.8);
						}
					}
					&.active {
						>.nav-link {
							color:$white;
						}
					}
				}
			}
			.hbku-nav-close {
				color:$white;
			}
		}
		&.hbku-nav-blue {
			background:$h_blue;
			.nav-header {
				@include color-opacity($white,0.4);
			}
			.nav-separator {
				@include border-opacity($white,0.05);
			}
			.navbar-nav {
				.nav-item {
					.nav-link {
						@include color-opacity($white,0.6);
						&:hover,&:focus {
							@include color-opacity($white,0.8);
						}
					}
					&.active {
						>.nav-link {
							color:$white;
						}
					}
				}
			}
			.hbku-nav-close {
				color:$white;
			}
		}
	}	
	&.hbku-nav-toggle {
		.hbku-pg-wrapper {
			margin-left: 51px;
		}
		.hbku-nav {
			width: 51px;
			.nav-header {
				>span:first-child {
					display:none
				}
				>span:last-child {
					display:inline;
				}
			}
			.navbar-nav {
				.nav-item {
					.nav-link-text {
						display:none;
					}
				}	
				.collapse.show {
					display: none;
				}
			}
			&:hover {
				width: 240px;
				.nav-header {
					>span:first-child {
						display:inline;
					}
					>span:last-child {
						display:none;
					}
				}
				.navbar-nav {
					.nav-item {
						.nav-link-text {
							display:inline-block;
						}
					}
					.collapse.show {
						display: block;
					}
				}
			}
		}
	}
	.hbku-nav-backdrop {
		@include background-opacity($dark,.5);
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: 1030;
		@include transition(opacity .4s ease);
		opacity: 0;
		height: 0;
		width: 0;
		visibility: hidden;
	}
	&.scrollable-nav {
		.hbku-nav {
			position:absolute;
		}
	}
}	
@media (max-width: 1199px) {
	.hbku-wrapper.hbku-vertical-nav {
		.hbku-pg-wrapper {
			margin-left: 0px;
		}
		.hbku-nav {
			left: -240px;
			top:0;
			z-index:1040;
			.navbar-nav-wrap {
				padding-top:3.3rem;
			}
			.nav-header {
				>span:first-child {
					display:inline;
				}
				>span:last-child  {
					display:none;
				}
			}
			.navbar-nav {
				.nav-item {
					.nav-link-text {
						display:inline-block;
					}
				}	
				.collapse.show {
					display: block;
				}
			}
		}	
		&.hbku-nav-toggle {
			.hbku-pg-wrapper {
				left: 0;
				margin-left:0;
			}
			.hbku-nav {
				width: 240px;
				left:0;
				.nav-header {
					>span:first-child  {
						display:inline;
					}
					>span:last-child  {
						display:none;
					}
				}
				.navbar-nav {
					.nav-item {
						.nav-link-text {
							display:inline-block;
						}
					}
					.collapse.show {
						display: block;
					}
				}
				.hbku-nav-close {
					display:block;
				}
			
			}
			.hbku-nav-backdrop {
				opacity: 1;
				height: auto;
				width: auto;
				visibility: visible;
			}
		}
	}	
}

/*Horizontal Navigation*/
.hbku-wrapper.hbku-horizontal-nav {
	.hbku-pg-wrapper {
		position:relative;
		left:0;
		@include transition(all 0.4s ease);
	}
	.hbku-nav {
		position: fixed;
		top: 0;
		left: -240px;
		width: 240px;
		margin-left: 0;
		bottom: 0;
		z-index:1040;
		border: none;
		box-shadow: 0 28px 28px rgba(0, 0, 0, 0.07);
		@include transition(all 0.4s ease);
		.navbar-nav-wrap {
			padding-top:3.3rem;
			padding-bottom:0.75rem;
		}
		.hbku-nav-close {
			padding:1rem;
			display:block;
			position: absolute;
			width: 100%;
			z-index:1;
			background: inherit;
			box-sizing: border-box;
			.feather-icon {
				display:block;
				>svg {
					height:20px;
					width:20px;
				}
			}
			
		}
		.navbar-nav {
			&.flex-row {
				-ms-flex-direction: column !important;
				flex-direction: column !important;
			}
			li {
				width:240px;
			}
			.nav-item {
				.nav-link-text {
					display:inline-block;
				}
				.nav-link {
					position:relative;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					padding:.5rem 1rem;
					>.feather-icon {
						min-width:32px;
						line-height: 1.5;
						>svg {
							height:18px;
							width:18px;
						}
					}
					&[data-toggle="collapse"] {
						&::after {
							content: '';
							display: inline-block;
							width: 0;
							height: 0;
							margin-left: 2px;
							vertical-align: middle;
							border-top: 6px dashed;
							border-top: 6px solid \9;
							border-right: 6px solid transparent;
							border-left: 6px solid transparent;
							    -webkit-transform: rotate(0deg);
								-moz-transform: rotate(0deg);
								-ms-transform: rotate(0deg);
								-o-transform: rotate(0deg);
								transform: rotate(0deg);
								-webkit-transition: all 0.4s ease;
								-moz-transition: all 0.4s ease;
								transition: all 0.4s ease;
						}
						&[aria-expanded="true"] {
							&::after {
								-webkit-transform: rotate(-180deg);
								-moz-transform: rotate(-180deg);
								-ms-transform: rotate(-180deg);
								-o-transform: rotate(-180deg);
								transform: rotate(-180deg);
							}
						}
					}
					&.link-with-badge {
						&:after {
							display:none;
						}
						.badge {
							margin-left:auto;
						}
					}
					&.link-with-indicator {
						>.feather-icon {
							position:relative;
							.badge {
								position: absolute;
								left: 13px;
								top: 0px;
							}
						}
					}
				}
				ul.collapse-level-1 {
					.nav-item {
						.nav-link {
							padding:0.35rem 1rem 0.35rem 3rem;  
							font-size:14px;
							&[data-toggle="collapse"] {
								&::after {
									font-size: 14px;
								}
							}
						}
						ul.collapse-level-2 {
							.nav-item {
								.nav-link {
									padding:0.35rem 1rem 0.35rem 4rem;  
									&[data-toggle="collapse"] {
										&::after {
											font-size: 14px;
										}
									}
								}
							}
						}
					}
				}
				&.horizontal-nav-separator {
					&:after {
						content: "";
						height: 100%;
						width: 1px;
						position: absolute;
						background: $light_10;
						position: absolute;
						top: 0;
						right:0;
					}
				}
			}	
		}
		&.hbku-nav-light {
			background:$white;
			.nav-header {
				@include color-opacity($dark,0.4);
			}
			.nav-separator {
				@include border-opacity($dark,0.05);
			}
			.navbar-nav {
				.nav-item {
					.nav-link {
						@include color-opacity($dark,0.6);
						&:hover,&:focus {
							@include color-opacity($dark,0.8);
						}
					}
					&.active {
						>.nav-link {
							color:$dark;
						}
					}
				}
			}
			.hbku-nav-close {
				color:$dark;
			}
		}
		&.hbku-nav-dark {
			background:$dark_20;
			.nav-header {
				@include color-opacity($white,0.4);
			}
			.nav-separator {
				@include border-opacity($white,0.05);
			}
			.navbar-nav {
				.nav-item {
					.nav-link {
						@include color-opacity($white,0.6);
						&:hover,&:focus {
							@include color-opacity($white,0.8);
						}
					}
					&.active {
						>.nav-link {
							color:$white;
						}
					}
				}
			}
			.hbku-nav-close {
				color:$white;
			}
		}
		&.hbku-nav-blue {
			background:$h_blue;
			.nav-header {
				@include color-opacity($white,0.4);
			}
			.nav-separator {
				@include border-opacity($white,0.05);
			}
			.navbar-nav {
				.nav-item {
					.nav-link {
						@include color-opacity($white,0.6);
						&:hover,&:focus {
							@include color-opacity($white,0.8);
						}
						.nav-link {}
						&.active {
							color:$white;
						}
					}
					
					
				}
			}
			.hbku-nav-close {
				color:$white;
			}
		}
	}	
	.hbku-nav-backdrop {
		@include background-opacity($dark,.5);
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: 1030;
		@include transition(opacity .4s ease);
		opacity: 0;
		height: 0;
		width: 0;
		visibility: hidden;
	}
	&.hbku-nav-toggle {
		.hbku-pg-wrapper {
			left:0;
		}
		.hbku-nav {
			left:0;
		}
		.hbku-nav-backdrop {
			opacity: 1;
			height: auto;
			width: auto;
			visibility: visible;
		}
	}
	&.scrollable-nav {
		.hbku-nav {
			position:absolute;
		}
	}
}	
@media (min-width: 768px) {
	.hbku-wrapper.hbku-horizontal-nav {
		#navbar_toggle_btn{
			display: none;
		}
		.navbar-search {
			top: 97px;
			left: 0;
		}
		&.navbar-search-toggle {
			.navbar-search {
				top: 147px;
			}
			.hbku-pg-wrapper {
				padding-top: 196px;
				left: 0;
			}
		}
		.hbku-pg-wrapper {
			margin-left: 0;
			padding-top:147px;
			left:0;
			@include transition(all 0.4s ease);
		}
		.hbku-nav {
			left:0;
			top:97px;
			bottom:auto;
			width: 100%;
			z-index:100;
			@include transform(translateY(0));
			box-shadow: 0 0 28px rgba(0, 0, 0, 0.07);
			> .slimScrollDiv {
				overflow: visible !important;
				> .nicescroll-bar {
					overflow: visible !important;
				}
				.slimScrollBar {
					display:none!important;
				}
			}
			.navbar-nav-wrap {
				padding-top:0;
				padding-bottom:0;
			}
			.hbku-nav-close {
				display:none;
			}
			.navbar-nav {
				> .nav-item > .nav-link {
					min-height: 50px;
				}
				li {
					width:auto;
				}
				&.flex-row {
					-ms-flex-direction: row !important;
					flex-direction: row !important;
				}	
				.nav-item {
					position:relative;
					.nav-link {
						padding: .75rem 1rem;
						box-sizing: border-box;
						>.feather-icon {
							min-width:26px;
						}
						&[data-toggle="collapse"] {
							&::after {
								-webkit-transform: rotate(-90deg);
								-moz-transform: rotate(-90deg);
								-ms-transform: rotate(-90deg);
								-o-transform: rotate(-90deg);
								transform: rotate(-90deg);
							}
							&[aria-expanded="true"] {
								&::after {
									-webkit-transform: rotate(-90deg);
									-moz-transform: rotate(-90deg);
									-ms-transform: rotate(-90deg);
									-o-transform: rotate(-90deg);
									transform: rotate(-90deg);
								}
							}
						}
						&.link-with-badge {
							.badge {
								margin-left:15px;
							}
						}
					}
					ul {
						&.collapse-level-1,
						&.collapse-level-2 {
							height: auto !important;
							min-width:10rem;
							position: absolute !important;
							top:100%;
							z-index:1;
							border-radius: 0;
							border: 1px solid $h-blue-1;
							&.collapse.show,&.collapsing {
								display: none;
							}
						}
						&.collapse-level-1 {
							left:0;
							padding: 1rem 0;
							.nav-item {
								.nav-link {
									padding: .25rem 1.5rem;
								}
								ul.collapse-level-2 {
									padding: 0.5rem 0;
									left:100%;
									top:0;
									.nav-item {
										.nav-link {
											padding: .25rem 1rem;
										}
									}
								}
							}
						}
						
					}
					&:hover {
						> ul {
							&.collapse,
							&.collapse.show,
							&.collapsing {
								display: block;
							}
						}
					}
				}	
				>.nav-item {
					>.nav-link {
						&[data-toggle="collapse"] {
							&::after {
								margin-left: 10px;
								-webkit-transform: rotate(0deg);
								-moz-transform: rotate(0deg);
								-ms-transform: rotate(0deg);
								-o-transform: rotate(0deg);
								transform: rotate(0deg);
							}
							&[aria-expanded="true"] {
								&::after {
									-webkit-transform: rotate(0deg);
									-moz-transform: rotate(0deg);
									-ms-transform: rotate(0deg);
									-o-transform: rotate(0deg);
									transform: rotate(0deg);
								}
							}
						}
					}
				}	
			}
			&.hbku-nav-light {
				.navbar-nav {
					.nav-item {
						ul {
							&.collapse-level-1,
							&.collapse-level-2 {
								background:$white;
							}
						}
					}
				}
			}
			&.hbku-nav-blue {
				.navbar-nav {
					.nav-item {
						ul {
							&.collapse-level-1,
							&.collapse-level-2 {
								background:$h_blue;
							}
						}
					}
				}
			}
			&.hbku-nav-dark {
				.navbar-nav {
					.nav-item {
						ul {
							&.collapse-level-1,
							&.collapse-level-2 {
								background:$dark_20;
							}
						}
					}
				}
			}
		}	
		&.hbku-nav-toggle {
			&.hbku-wrapper.hbku-horizontal-nav {
				.navbar-search {
					top: 97px;
					left: 0;
				}
				&.navbar-search-toggle .hbku-pg-wrapper {
					padding-top: 146px;
					left: 0;
				}
				.hbku-pg-wrapper {
					padding-top:97px;
					margin-left:0;
					left:0;
				}
			}
			.hbku-nav {
				@include transform(translateY(-100%));
				.navbar-nav	.nav-item .nav-link-text {
					display:inline-block;
				}
			}
			.hbku-nav-backdrop {
				opacity: 0;
				height: 0;
				width: 0;
				visibility: hidden;
			}
		}
	}	
}

@media (max-width: 767px) {
	.hbku-wrapper.hbku-horizontal-nav {
		.navbar-search {
			top: 97px;
			left: 0;
		}
		&.navbar-search-toggle {
			.navbar-search {
				top: 97px;
			}
			.hbku-pg-wrapper {
				padding-top: 146px;
				left: 0;
			}
		}
	}
}
@media (max-width: 414px) {
	.hbku-wrapper.hbku-horizontal-nav {
		
		.navbar-search {
			top: 82px;
			left: 0;
		}
		&.navbar-search-toggle {
			.navbar-search {
				top: 82px;
			}
			.hbku-pg-wrapper {
				padding-top: 132px;
				left: 0;
			}
		}
	}
}
.hbku-wrapper {
	.hbku-settings-panel {
		position: fixed;
		top: 0;
		right: -310px;
		width: 310px;
		bottom: 0;
		z-index:1040;
		border: none;
		background:$white;
		box-shadow: 0 28px 28px rgba(0, 0, 0, 0.07);
		@include transition(all 0.4s ease);
		.settings-panel-wrap {
			padding: 20px;
			.settings-panel-head {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				justify-content: space-between;
				-webkit-justify-content: space-between;
				-ms-flex-pack: space-between;
				a {
					color:$light_40;
					position: absolute;
					right: 10px;
					top: 10px;
					.feather-icon {
						display:block;
						>svg {
							height: 18px;
							width: 18px;
							transform: translateY(50%);
							-moz-transform: translateY(50%);
							-webkit-transform: translateY(50%);
							-o-transform: translateY(50%);
							-ms-transform: translateY(50%);
						}
					}
				}
			}
			.layout-img-wrap {
				margin-top:15px;
				a {
					display:inline-block;
					font-size:0;
					position:relative;
					img {
						width:100%;
					}
					i {
						font-size: 15px;
						position: absolute;
						right: 25px;
						top: 10px;
						opacity: 0;
						height: 20px;
						width: 20px;
						background: $sky;
						border-radius: 50%;
						text-align: center;
						padding-top: 2px;
						color:$white
					}
					&.active {
						i {
							opacity:1;
						}
					}
				}
			}
		}
	}
	&.hbku-settings-toggle {
		.hbku-settings-panel {
			right:0;
		}	
	}
}

.navbar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	padding: 0.5rem 1rem;
  }
  
  .navbar > .container,
  .navbar > .container-fluid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
  }
  
  .navbar-brand {
	display: inline-block;
	padding-top: 10.3125rem;
	padding-bottom: 10.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
  }
  
  .navbar-brand:hover, .navbar-brand:focus {
	text-decoration: none;
  }
  
  .navbar-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
  }
  
  .navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
  }
  /*
  .navbar-nav .dropdown-menu {
	position: static;
	float: none;
  }
  */
  .navbar-text {
	display: inline-block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
  }
  
  .navbar-collapse {
	-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  
  .navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
  }
  
  .navbar-toggler:hover, .navbar-toggler:focus {
	text-decoration: none;
  }
  
  .navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
  }
  
  .navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
  }
  
  @media (max-width: 575.98px) {
	.navbar-expand-sm > .container,
	.navbar-expand-sm > .container-fluid {
	  padding-right: 0;
	  padding-left: 0;
	}
  }
  
  @media (min-width: 576px) {
	.navbar-expand-sm {
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
		  -ms-flex-flow: row nowrap;
			  flex-flow: row nowrap;
	  -webkit-box-pack: start;
		  -ms-flex-pack: start;
			  justify-content: flex-start;
	}
	.navbar-expand-sm .navbar-nav {
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
		  -ms-flex-direction: row;
			  flex-direction: row;
	}
	.navbar-expand-sm .navbar-nav .dropdown-menu {
	  position: absolute;
	}
	.navbar-expand-sm .navbar-nav .nav-link {
	  padding-right: 0.5rem;
	  padding-left: 0.5rem;
	}
	.navbar-expand-sm > .container,
	.navbar-expand-sm > .container-fluid {
	  -ms-flex-wrap: nowrap;
		  flex-wrap: nowrap;
	}
	.navbar-expand-sm .navbar-collapse {
	  display: -webkit-box !important;
	  display: -ms-flexbox !important;
	  display: flex !important;
	  -ms-flex-preferred-size: auto;
		  flex-basis: auto;
	}
	.navbar-expand-sm .navbar-toggler {
	  display: none;
	}
  }
  
  @media (max-width: 767.98px) {
	.navbar-expand-md > .container,
	.navbar-expand-md > .container-fluid {
	  padding-right: 0;
	  padding-left: 0;
	}
  }
  
  @media (min-width: 768px) {
	.navbar-expand-md {
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
		  -ms-flex-flow: row nowrap;
			  flex-flow: row nowrap;
	  -webkit-box-pack: start;
		  -ms-flex-pack: start;
			  justify-content: flex-start;
	}
	.navbar-expand-md .navbar-nav {
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
		  -ms-flex-direction: row;
			  flex-direction: row;
	}
	.navbar-expand-md .navbar-nav .dropdown-menu {
	  position: absolute;
	}
	.navbar-expand-md .navbar-nav .nav-link {
	  padding-right: 0.5rem;
	  padding-left: 0.5rem;
	}
	.navbar-expand-md > .container,
	.navbar-expand-md > .container-fluid {
	  -ms-flex-wrap: nowrap;
		  flex-wrap: nowrap;
	}
	.navbar-expand-md .navbar-collapse {
	  display: -webkit-box !important;
	  display: -ms-flexbox !important;
	  display: flex !important;
	  -ms-flex-preferred-size: auto;
		  flex-basis: auto;
	}
	.navbar-expand-md .navbar-toggler {
	  display: none;
	}
  }
  
  @media (max-width: 991.98px) {
	.navbar-expand-lg > .container,
	.navbar-expand-lg > .container-fluid {
	  padding-right: 0;
	  padding-left: 0;
	}
  }
  
  @media (min-width: 992px) {
	.navbar-expand-lg {
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
		  -ms-flex-flow: row nowrap;
			  flex-flow: row nowrap;
	  -webkit-box-pack: start;
		  -ms-flex-pack: start;
			  justify-content: flex-start;
	}
	.navbar-expand-lg .navbar-nav {
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
		  -ms-flex-direction: row;
			  flex-direction: row;
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu {
	  position: absolute;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
	  padding-right: 0.5rem;
	  padding-left: 0.5rem;
	}
	.navbar-expand-lg > .container,
	.navbar-expand-lg > .container-fluid {
	  -ms-flex-wrap: nowrap;
		  flex-wrap: nowrap;
	}
	.navbar-expand-lg .navbar-collapse {
	  display: -webkit-box !important;
	  display: -ms-flexbox !important;
	  display: flex !important;
	  -ms-flex-preferred-size: auto;
		  flex-basis: auto;
	}
	.navbar-expand-lg .navbar-toggler {
	  display: none;
	}
  }
  
  @media (max-width: 1199.98px) {
	.navbar-expand-xl > .container,
	.navbar-expand-xl > .container-fluid {
	  padding-right: 0;
	  padding-left: 0;
	}
  }
  
  @media (min-width: 1200px) {
	.navbar-expand-xl {
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
		  -ms-flex-flow: row nowrap;
			  flex-flow: row nowrap;
	  -webkit-box-pack: start;
		  -ms-flex-pack: start;
			  justify-content: flex-start;
	}
	.navbar-expand-xl .navbar-nav {
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
		  -ms-flex-direction: row;
			  flex-direction: row;
	}
	.navbar-expand-xl .navbar-nav .dropdown-menu {
	  position: absolute;
	}
	.navbar-expand-xl .navbar-nav .nav-link {
	  padding-right: 0.5rem;
	  padding-left: 0.5rem;
	}
	.navbar-expand-xl > .container,
	.navbar-expand-xl > .container-fluid {
	  -ms-flex-wrap: nowrap;
		  flex-wrap: nowrap;
	}
	.navbar-expand-xl .navbar-collapse {
	  display: -webkit-box !important;
	  display: -ms-flexbox !important;
	  display: flex !important;
	  -ms-flex-preferred-size: auto;
		  flex-basis: auto;
	}
	.navbar-expand-xl .navbar-toggler {
	  display: none;
	}
  }
  
  .navbar-expand {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
			flex-flow: row nowrap;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
  }
  
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
	padding-right: 0;
	padding-left: 0;
  }
  
  .navbar-expand .navbar-nav {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
  }
  
  .navbar-expand .navbar-nav .dropdown-menu {
	position: absolute;
  }
  
  .navbar-expand .navbar-nav .nav-link {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
  }
  
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
	-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
  }
  
  .navbar-expand .navbar-collapse {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-preferred-size: auto;
		flex-basis: auto;
  }
  
  .navbar-expand .navbar-toggler {
	display: none;
  }
  
  .navbar-light .navbar-brand {
	color: rgba(0, 0, 0, 0.9);
  }
  
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
	color: rgba(0, 0, 0, 0.9);
  }
  
  .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus  {
	color: rgba(0, 0, 0, 0.5);
  }
  
  .navbar-light .navbar-nav .nav-link:hover{
	color: rgba(0, 0, 0, 0.7);
  }
  
  .navbar-light .navbar-nav .nav-link.disabled {
	color: rgba(0, 0, 0, 0.3);
  }
  
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .nav-link.active {
	color: rgba(0, 0, 0, 0.9);
  }
  
  .navbar-light .navbar-toggler {
	color: rgba(0, 0, 0, 0.5);
	border-color: rgba(0, 0, 0, 0.1);
  }
  
  .navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .navbar-dark .navbar-text {
	color: rgba(255, 255, 255, 0.5);
  }
  
  .navbar-dark .navbar-text a {
	color: #fff;
  }
  
  .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
	color: #fff;
  }
  

  // stylelint-disable selector-no-qualifying-type
/*
.fade {
  @include transition($transition-fade);

  &:not(.show) {
    opacity: 0;
  }
}


.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}*/

.collapse {
  &:not(.show) {
    display: none;
  }
}


/*fixed css start here*/
.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
  }
  
  .fixed-bottom {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
  }
  
  .sticky-top {
	  position: sticky;
	  top: 0;
	  z-index: 1020;
  }
  /*fixed css end here*/

 